* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}
a {
  text-decoration: none;
  color: rgb(24, 24, 49);
}

/* HOME */
#home {
  /* background-image: url("Background.jpg"); */
  background-color: black;
  width: 100%;
  height: 100vh;
  /* background-size: cover; */
  /* background-position: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 7% 3% 0 3%;
  margin: 0;
}

.player{
  width: 30%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
}

.mulist {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.imgbackground {
  width: 30%;
  background-size: cover;
  background-position: center;
}

.player .player-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}

.player .player-controls .controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.player p{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  gap: 0.7rem;
  padding: 5px 15px;
  border: 0.5px solid gray;
}

.playbuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.list-group {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.list-group {
  /* ...existing code... */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.list-group::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.list-group .list-group-item {
  background-color: transparent;
  border: none;
  padding: 0.8rem 1rem 0 1rem;
  cursor: pointer;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.list-group .list-group-item i{
    margin-right: 10px;
}

.list-group .list-group-item:hover {
  background-color: rgba(133, 131, 131, 0.445);
}

.list-group .list-group-item.active {
  background-color: rgba(133, 131, 131, 0.445);
  color: white;
}

.list-group .list-group-item.active:hover {
  background-color:rgba(133, 131, 131, 0.445);
}

.list-group .list-group-item a {
  color: inherit;
}

.list-group .list-group-item a:hover {
  color: rgb(150, 150, 184);
}

